.page-aside {
  min-width: 290px;
  max-width: 300px;
  background-color: var(--color-gold-500);
  padding: var(--spacing-lg);
  border-left: 3px dashed var(--color-maroon-900);
  position: static;

  @media (max-width: 685px) {
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-bottom: 3px dashed var(--color-maroon-900);
    pointer-events: none;

    transform: translateX(20px);
    transition: transform 0.1s ease-out, opacity 0.2s ease-out,
      visibility 0s linear 0.2s;

    &.visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: transform 0.1s ease-out, opacity 0.2s ease-out,
        visibility 0s linear 0s;
    }
  }
}

/* PROFILE SECTION */
.profile {
  & p > span {
    font-weight: 700;
    text-transform: capitalize;
  }

  .profile-title {
    margin-bottom: var(--spacing-md);
  }

  .profile-name {
    text-transform: uppercase;
  }

  .profile-description {
    text-transform: lowercase;
    margin-bottom: var(--spacing-lg);
  }

  .profile-reborn {
    margin-right: 5px;
  }
}

/* HORIZONTAL RULE */
hr {
  margin: var(--spacing-lg) 0;
  border: 0;
  border-top: 2px dashed var(--color-maroon-900);
}

/* INSTRUCTIONS SECTION*/
.rules {
  .rules-subtitle {
    margin: var(--spacing-md) 0;
  }

  .rules-list {
    padding-left: 2rem;
    text-wrap: balance;
    text-wrap: pretty;

    em {
      font-weight: 700;
    }
  }

  p:last-child {
    margin-top: var(--spacing-md);
    text-align: center;
    text-transform: uppercase;
  }
}
