.message-form {
  background-color: var(--color-bronze-500);
  padding: var(--spacing-lg);

  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
  }
}

.form {
  max-width: 25rem;

  display: grid;
  grid-template-areas:
    "topic topic"
    "content content"
    "return send";
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg);

  label > select,
  label > textarea {
    display: block;
    color: var(--color-maroon-900);
    margin-top: var(--spacing-sm);
    background-color: var(--color-gold-500);
  }
}

.form-topic {
  grid-area: topic;
  width: 100%;

  & > select {
    text-align: center;
    width: 100%;
  }
}

.form-content {
  grid-area: content;
  width: 100%;

  & > textarea {
    width: 100%;
    resize: vertical;
    padding: var(--spacing-sm);
  }
}

.form-return {
  grid-area: return;
  width: 100%;
}

.form-send {
  grid-area: send;
  width: 100%;
}

.message-form > img:nth-child(3) {
  margin-top: 3rem;
}
