.message-board {
  padding: var(--spacing-lg);
  background-color: var(--color-bronze-500);

  h2 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }
}

.message-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-lg);
  justify-items: center;

  @media (max-width: 350px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.message-card {
  background-color: var(--color-walnut-600);

  max-width: 400px;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: var(--spacing-lg);

  display: flex;
  flex-direction: column;

  position: relative;
  -webkit-clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    0% 100%
  );
  clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    0% 100%
  );

  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-within {
    transform: scale(1.05);
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);

    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);

    transform: translate(0, 0);
    transform-origin: top right;
    z-index: 1;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

/* CARD CONTENTS */
.card-topic {
  font-weight: bold;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  color: var(--color-sand-100);
}

.card-content {
  margin: auto 0 auto;
  text-wrap: balance;
  text-wrap: pretty;
  color: var(--color-yellow-400);

  &::before,
  &::after {
    content: '"';
  }
}

.card-name {
  margin-top: auto;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-end;
  color: var(--color-gold-500);
}

.card-timestamp {
  align-self: flex-end;
  font-style: italic;
  color: var(--color-gold-500);
}
