.message-board {
  padding: var(--spacing-lg);

  h2 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }
}

.message-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-lg);
}

.message-card {
  background-color: antiquewhite;
  aspect-ratio: 1 / 1;
  padding: var(--spacing-lg);

  display: flex;
  flex-direction: column;

  -webkit-clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    0% 100%
  );
  clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    0% 100%
  );

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);

    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);

    transform: translate(0, 0);
    transform-origin: top right;
    z-index: 1;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

/* CARD CONTENTS */
.card-topic {
  font-weight: bold;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
}

.card-content {
  margin: auto 0 auto;
  text-wrap: balance;
  text-wrap: pretty;

  &::before,
  &::after {
    content: '"';
  }
}

.card-name {
  margin-top: auto;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-end;
}

.card-timestamp {
  align-self: flex-end;
  font-style: italic;
}
