@font-face {
  font-family: "ComicRelief";
  src: url("/fonts/ComicRelief-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

:root {
  /* === Colors === */
  --color-orange-600: #c06431;

  --color-gray-500: #848474;
  --color-copper-700: #9d4a24;
  --color-tan-600: #a1905b;

  --color-olive-700: #8d9f40;

  // ----
  --color-bronze-500: #b38658;
  --color-walnut-600: #6c4f3d;
  --color-yellow-400: #e2a94f;
  --color-gold-500: #d0ac7a;
  --color-lime-400: #a6e156;
  --color-sand-100: #f2eee3;
  --color-maroon-900: #3b1c24;
  --color-yellow-600: #c69301;
  --color-lime-500: #77ba4e;

  --color-brown-700: #795243;
  --color-stone-700: #5e584f;

  --color-charcoal-900: #2e2b27;
  --color-ivory-50: #fffdf8;

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);

  /* === Typography === */
  /* Font families */
  --font-family-heading: "Rajdhani", Arial, sans-serif;
  --font-family-base: "ComicRelief", Arial, sans-serif;

  /* Font sizes */
  --font-size-base: calc(14rem / 16);
  --line-height-base: 1.5;
  --scale-ratio: 1.333;

  --font-size-sm: calc(var(--font-size-base) / var(--scale-ratio));
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-base) * var(--scale-ratio));
  --font-size-xl: calc(
    var(--font-size-base) * var(--scale-ratio) * var(--scale-ratio)
  );
  --font-size-2xl: calc(
    var(--font-size-base) * var(--scale-ratio) * var(--scale-ratio) *
      var(--scale-ratio)
  );

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-unit: 0.5rem; /* Base spacing unit */
  --spacing-sm: var(--spacing-unit); /* 8px */
  --spacing-md: calc(var(--spacing-unit) * 2); /* 16px */
  --spacing-lg: calc(var(--spacing-unit) * 3); /* 24px */
}
